{% extends "home/base.html" %}

{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<style>
  .border-dashed { --bs-border-style: dashed; }
</style>
<body>
  <div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      {% if messages %}
        {% bootstrap_messages %}
      {% endif %}
      <img src="{% static 'home/k4.png' %}" alt="Karma Icon" width="100" height="100">
      {% if user.is_authenticated %}
        <h1 class="w3-jumbo">Welcome back {{ un }}!</h1>
        <br/>
      {% else %}  
        <h1 class="w3-jumbo">Welcome!</h1>
      {% endif %}
    </div>
  </div>
</body>
{% endblock %}
