{% load static %}


{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli+One">

    <style>
        .animation--fade-titles {
            color: DodgerBlue;
            animation-duration: 24s;
            animation-name: fade-title;
            animation-delay: 0;
            animation-iteration-count: infinite;
            animation-direction: forward;
        }

        @keyframes fade-title {
            0%  {color: DodgerBlue;}
            50% {color: DeepPink;}
            100% {color: DodgerBlue;}
        }

        .calendar-text { margin-top: .3em; }
    </style>

{% endblock %}

<header class="container p-3 text">
    <div class="row">
        <div id="karmactive" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-1">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="{% url 'show_sidebar' %}">
                        <h3 class="animation--fade-titles" style='font-family: "Leckerli One", serif; color:#0055aa;'>Staff Portal</h3>
                    </a>
                </li>
                <li>&nbsp; &nbsp;</li>
            </ul>
            {% if user.is_authenticated %}
            <div class="text-end">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    {% if qs %}
                    <li>
                        <div class="dropdown">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fa-stack">
                                    <i class="fa-regular fa-circle fa-stack-2x"></i>
                                    <i class="fa-solid fa-flag fa-stack-1x"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu text-small">
                                {% for cart_item in qs %}
                                    <li><a class="dropdown-item" href="#">{{ cart_item }}...{{ cart_item.quantity }}</a></li>
                                {% endfor %}
                                <li><a class="dropdown-item" href="{% url 'checkout_cart' %}"><button class=" w3-btn w3-blue w3-padding-small w3-round-large w3-hover-purple">Checkout</button></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>&nbsp; &nbsp;</li>
                    {% endif %}
                    <li>
                        <div class="dropdown">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fa-stack">
                                    <i class="fa-solid fa-gear fa-2xl"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="{% url 'account_settings' %}">Settings</a></li>
                                <li>&nbsp;</li>
                                {% if user.is_superuser %}
                                    <li><a class="dropdown-item" href="{% url 'show_catalog' %}">Catalog</a></li>
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                                    <li>&nbsp;</li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="text-end">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><button class="w3-btn w3-blue w3-padding-small w3-round-large w3-hover-pink"><a href="{% url 'login' %}" class="nav-link px-2 text-white">Login</a></button></li>
                    <li>&nbsp; &nbsp;</li>
                    <li><button class="w3-btn w3-black w3-padding-small w3-round-large w3-hover-red"><a href="{% url 'signup' %}" class="nav-link px-2 text-white">Sign-up</a></button></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("karmactive");
    var btns = header.getElementsByClassName("w3-btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>