{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli+One">

    <style>
        .animation--fade-titles {
            color: DodgerBlue;
            animation-duration: 24s;
            animation-name: fade-title;
            animation-delay: 0;
            animation-iteration-count: infinite;
            animation-direction: forward;
        }

        @keyframes fade-title {
            0%  {color: DodgerBlue;}
            50% {color: DeepPink;}
            100% {color: DodgerBlue;}
        }
    </style>
{% endblock %}
<header class="container p-3 text">
  
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'home' %}">
                <h3 class="animation--fade-titles" style='font-family: "Leckerli One", serif; color:#0055aa;'>Kanvasing</h3>
            </a>
        </div>

    <br/>

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'home/k4.png' %}" alt="Karma Icon" width="32" height="32">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><button class="w3-btn w3-padding-small w3-round-large w3-hover-purple"><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></button></li>
                {% if user.is_authenticated %}
                    <li><button class="w3-btn w3-padding-small w3-round-large w3-hover-purple"><a href="{% url 'goal_list' %}" class="nav-link px-2 text-white"></i> Goals </a></button></li>
                    <li><button class="w3-btn w3-padding-small w3-round-large w3-hover-purple"><a href="{% url 'campaign_list' %}" class="nav-link px-2 text-white"> Campaigns </a></button></li>
                    <li><button class="w3-btn w3-padding-small w3-round-large w3-hover-purple"><a href="#" class="nav-link px-2 text-white"> Expenses </a></button></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'home/k4.png' %}" alt="dak" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="{% url 'account_settings' %}">Settings</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="text-end">
                    <a type="button" class="btn btn-primary btn-outline-light me-2" href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}" type="button" class="btn btn-warning">Sign-up</a>
                </div>
            {% endif %}
        </div>

</header>
