{% extends "home/base.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<style>
  html,
  body {
    height: 100%;
  }

  .form-signin {
    max-width: 420px;
    padding: 1rem;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>
<body>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="arrow-right-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
    </symbol>
</svg>


{% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
          <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <div class="container my-5">
    {% bootstrap_messages %}
    <main class="form-signin w-100 m-auto">
        <form class="form" method="post">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'home/k4.png' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Set new password</h1>
            <ol>
            <li>Enter your new password.</li>
            <li>Re-enter your new password.</li>
            </ol>
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="OK" %}
            
            <input type="hidden" name="next" value="{% url 'password_reset_complete' %}">

            <p class="mt-5 mb-3 text-body-secondary"><a href="{% url 'home' %}" class="text-primary">Karmacanix<sup>©</sup></a> 2017–2023</p>
        </form>
    </main>
  </div>

</body>
{% endblock %}