{% extends "home/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<body>
  {% if next %}
      {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
          <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <div class="container my-5">
    <main class="form-signin w-100 m-auto border bg-body-tertiary rounded-3">
        <form class="form" method="post">
            {% csrf_token %}
            <h2 class="h3 mb-3 fw-normal">Set new password</h2>
            {% if messages %}
              {% bootstrap_messages %}
            {% endif %}
            <ol>
            <li><small>Enter your new password.</small></li>
            <li><small>Re-enter your new password.</small></li>
            </ol>
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'password_reset_complete' %}">
        </form>
    </main>
  </div>

</body>
{% endblock %}