{% extends "home/base.html" %}

{% load static %}

{% block content %}
<body>
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <h2 class="text-success">Success!</h2>
            <br/>
            <p>A reset password link has been sent to the email address specified.</p>
            <p>Use the link in the email to reset your password.</p>
            <br/>
            <button class="w3-btn w3-deep-purple w3-padding-small w3-round-large w3-large w3-hover-pink active"><a href="{% url 'home' %}" class="nav-link px-2 text-white active">Home</a></button>
        </div>
    </div>
</body>
{% endblock %}