{% extends "home/base.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<style>
  html,
  body {
    height: 100%;
  }

  .form-signin {
    max-width: 420px;
    padding: 1rem;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>

<body>
  {% if form.errors %}
  <div class="container my-5">
    <div class="alert alert-danger">
      {{ form.errors }}
    </div>
  </div>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
          <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <div class="container my-5">
    <main class="form-signin w-100 m-auto border">
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <h2 class="h3 mb-3 fw-normal">Please sign in</h2>
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}">
      </form>
      {# Assumes you set up the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </main>
  </div>
</body>
{% endblock %}
