{% extends "home/base.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<style>
  html,
  body {
    height: 100%;
  }

  .form-signin {
    max-width: 420px;
    padding: 1rem;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>

<body>
  
  <div class="container my-5">
    {% bootstrap_messages %}
    <main class="form-signin w-100 m-auto border rounded-2">
      <form method="post" action="">
        {% csrf_token %}
        <h2 class="h3 mb-3 fw-normal">Expense Details</h2>
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          Save
        </button>
      {% endbuttons %}
        <input type="hidden" name="next" value="{{ expense.get_absolute_url }}">
      </form>
    </main>
  </div>
</body>
{% endblock %}
