{% extends "home/base.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}
{% load mptt_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}
{% block content %}
<style>
  * {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
</style>

</body>
  <div class="container bg-body-tertiary rounded-3 my-3 p-1" data-bs-theme="dark">    
    <div class="row justify-content-md-left">
      <div class="col-md-auto">
        <div class="flex-shrink-0 p-3 bg-dark border rounded-3 my-2">
          <h3>
            <a href="{% url 'show_catalog' %}" class="d-flex align-items-center pb-3 mb-3 link-purple text-decoration-none border-bottom text-white">
              <i class="fa-solid fa-bars-staggered"></i>&nbsp;
              <span class="fs-5 fw-semibold">Maintain Service Catalog</span>
            </a>
          </h3>
          {% if messages %}
            {% bootstrap_messages %}
          {% endif %}
          {% if user.is_authenticated %}
            {% if all_catalog %}
              <ul class="list-unstyled">
              {% recursetree all_catalog %}
                <li>
                  <a href="{% url 'update_catalog' node.id %}" {% if node.id == catalog.id %} class="text-warning"{% endif %}>{{ node.name }}</a>
                  {% if not node.is_leaf_node %}
                    <ul class="children">
                      {{ children }}
                    </ul>
                  {% endif %}
                </li>
              {% endrecursetree %}
              </ul>
            {% else %}
              <p class="text-danger">No data found.</p>
            {% endif %}
          {% else %}
            <p class="text-danger">You are not permitted access to this information.</p>
          {% endif %}
        </div>
      </div>
      <div class="col-md-auto">
        <div class="flex-shrink-0 p-3 border rounded-3 my-2">
          <h2 class="h3 mb-3 fw-normal">Update {% if not catalog.parent %}root branch name</h2>{% else %} name</h2>{% endif %}
          <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_field form.name %}
            {% buttons %}
              <button type="submit" class="btn btn-primary w3-hover-pink">
                Update
              </button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{{ catalog.get_absolute_url }}">
          </form>
          
        </div>
        <div class="flex-shrink-0 p-3 border rounded-3 my-2">
          <h2 class="h3 mb-3 fw-normal">Update {% if not catalog.parent %} branch</h2>{% else %} branch</h2>{% endif %}
          <small>{{ catalog.get_ancestors|tree_path:" > " }}</small>
          <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_field form.parent %}
            {% buttons %}
              <button type="submit" class="btn btn-primary w3-hover-pink">
                Update
              </button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{{ catalog.get_absolute_url }}">
          </form>
          {% if not catalog.parent.parent.parent %}
            <hr><a href="{% url 'create_branch_catalog' catalog.id %}" class="w3-btn w3-deep-purple w3-round-large w3-hover-pink">New branch to {{ catalog.name }}</a>
          {% endif %}
        </div>
      </div>
      {% if catalog.parent %}
        <div class="col-md-auto">
          <div class="flex-shrink-0 p-3 border rounded-3 my-2">
            {% if service_list %}
            <h2>Services offered by {{ catalog.name|lower }}</h2>
            <table class="table table-dark table-hover">
              <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Approval</th>
              </thead>
              <tbody>
                {% for service in service_list %}
                  <tr>
                    <td><a href="{% url 'update_service' service.id %}">{{ service.name }}</a></td>
                    <td>{{ service.get_service_type_display }}</td>
                    <td>{{ service.get_approval_type_display }}</td> 
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
              <h3>No services offered.</h3>
            {% endif %}
            <br/>
            <a href="{% url 'create_service' catalog.id %}" class="w3-btn w3-deep-purple w3-round-large w3-hover-pink">Add services</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <script src="{% static 'js/sidebar.js' %}"></script>
</body>
{% endblock %}
