{% extends "home/base.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}


<body>
  <div class="container my-2">
    {% bootstrap_messages %}
    <main class="form-signin w-100 m-auto border rounded-2">
      <form method="post" action="">
        {% csrf_token %}
        <h2 class="h3 mb-3 fw-normal">Catalogue</h2>
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ catalog.get_absolute_url }}">
      </form>
      {% for service in service_list %}
      <p>{{ service.name }}</p>
      {% endfor %}
    <br/>
    <p><button class="w3-btn w3-purple w3-padding w3-round-large w3-hover-green">
      <a href="{% url 'create_service' catalog.id %}" class="nav-link px-2 text-white">
        <i class="fa-solid fa-circle-plus"></i> 
        New Service
      </a>
    </button></p>
  <br/>
    </main>
    
  </div>
</body>
{% endblock %}
